{% extends 'base.html' %}

<h2>Обратная связь</h2>

{% block content %}

<form method="post" enctype="multipart/form-data" style="width: 500px; margin: 0 auto; ">
    <h2>Отправить сообщение</h2>
    {% csrf_token %}
    <div class="form-error">{{form.non_fields_errors}}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{f}}</p>
    <div class="form-error">{{f.errors}}</div>
    {% endfor %}
    <button type="submit" style="align: center">Отправить</button>
</form>

{% endblock %}

